body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.hero {
    background-color: #45a049;
    padding: 12px 20px;
    width: 100%;
    margin-top: auto;
    margin-bottom: 0;
    font-size: 20px;
}
h1, h2, h3 {
    color: #333;
    text-align: center;
}

#customPizzaForm {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #faecef;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin: 6px 0 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-top: 12px;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.topping-category {
    display: inline-block;
    vertical-align: top;
    width: 48%; /* Adjust as needed */
}

.topping-category div {
    margin-bottom: 20px;
}

/* Style for selected toppings list */
#selectedToppings {
    margin-top: 20px;
    text-align: center;
}

#selectedToppings ul {
    list-style-type: none;
    padding: 0;
}

#selectedToppings li {
    margin-bottom: 5px;
}

#customPizzaOutput {
    background-color: #fbf6f6;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    width: 100%;
    margin-top: 12px;
    font-size: 16px;
    text-align: left;
}

